:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container {
    position: relative;
    width: 1280px;
    height: 832px;
    margin: 0 auto;
    overflow: hidden;
}
.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 15px;
    position: relative;
    width: 538px;
    margin: 40px 0 0 281px;
    z-index: 3;
    overflow: hidden auto;
}
.section-2 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    min-width: 0;
    height: 143px;
    padding: 50px 20px 20px 20px;
    background: #ffffff;
    border: 2px solid #194429;
    z-index: 4;
    overflow: hidden;
    border-radius: 5px;
}
.section-3 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: absolute;
    width: 538px;
    height: 30px;
    top: -2px;
    left: -2px;
    padding: 0 10px 0 10px;
    background: #122d1c;
    z-index: 5;
    overflow: hidden;
}
.pic {
    flex-shrink: 0;
    position: relative;
    width: 16px;
    height: 9.6px;
    background: url(./assets/images/2a798394-08b5-4864-93a3-b4e92e70dac5.png)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 6;
}
.text {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 7;
}
.section-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 10px;
    position: relative;
    z-index: 8;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    z-index: 9;
}
.section-5 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    height: 48px;
    padding: 0 20px 0 20px;
    background: #efefef;
    z-index: 10;
    overflow: hidden;
}
.text-2 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #000000;
    font-family: Nunito, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 11;
}
.text-3 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 16px;
    color: #a30000;
    font-family: Nunito, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 12;
}
.section-6 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    min-width: 0;
    height: 98px;
    padding: 50px 20px 20px 20px;
    background: #ffffff;
    border: 2px solid #194429;
    z-index: 13;
    overflow: hidden;
    border-radius: 5px;
}
.group {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: absolute;
    width: 538px;
    height: 30px;
    top: -2px;
    left: -2px;
    padding: 0 10px 0 10px;
    background: #122d1c;
    z-index: 14;
    overflow: hidden;
}
.pic-2 {
    flex-shrink: 0;
    position: relative;
    width: 12.8px;
    height: 8px;
    background: url(./assets/images/33e13532-558e-41c6-8901-a7f7590e7a74.png)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 15;
}
.text-4 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 21.824px;
    text-align: left;
    white-space: nowrap;
    z-index: 16;
}
.section-7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 10px;
    position: relative;
    z-index: 17;
}
.section-8 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    z-index: 18;
    overflow: hidden;
}
.box-2 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    height: 28px;
    z-index: 19;
}
.section-9 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 175.5px;
    font-size: 0px;
    transform: translate(0, -47.97%);
    z-index: 21;
    overflow: hidden;
}
.text-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 9px;
    height: 19px;
    margin: 2.514px 0 0 7.5px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 14px;
    font-weight: 900;
    line-height: 19px;
    text-align: center;
    white-space: nowrap;
    z-index: 23;
}
.group-2 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    background: #227b3d;
    z-index: 22;
    border-radius: 8px;
}
.img {
    position: absolute;
    width: 100%;
    height: 8px;
    top: 50%;
    left: 0;
    background: url(./assets/images/0c8293fa-7fe3-4f41-92c3-b2aba7026b24.png)
        no-repeat center;
    background-size: cover;
    transform: translate(0, -43.92%);
    z-index: 20;
}
.text-6 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #122d1c;
    font-family: Nunito, var(--default-font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 24;
}
.group-3 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    min-width: 0;
    height: 118px;
    padding: 50px 20px 20px 20px;
    background: #ffffff;
    border: 2px solid #194429;
    z-index: 25;
    overflow: hidden;
    border-radius: 5px;
}
.box-3 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: absolute;
    width: 538px;
    height: 30px;
    top: -2px;
    left: -2px;
    padding: 0 10px 0 10px;
    background: #122d1c;
    z-index: 26;
    overflow: hidden;
}
.img-2 {
    flex-shrink: 0;
    position: relative;
    width: 16px;
    height: 9.6px;
    background: url(./assets/images/37c26a79-d678-490a-8340-ae66584a5cd5.png)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 27;
}
.text-7 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 28;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 10px;
    position: relative;
    z-index: 29;
}
.group-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    z-index: 30;
}
.group-5 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    height: 48px;
    padding: 0 20px 0 20px;
    background: #efefef;
    z-index: 31;
    overflow: hidden;
}
.text-8 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #000000;
    font-family: Nunito, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 32;
}
.box-4 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    min-width: 0;
    padding: 50px 20px 20px 20px;
    background: #ffffff;
    border: 2px solid #194429;
    z-index: 33;
    overflow: hidden;
    border-radius: 5px;
}
.section-a {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: absolute;
    width: 538px;
    height: 30px;
    top: -2px;
    left: -2px;
    padding: 0 10px 0 10px;
    background: #122d1c;
    z-index: 34;
    overflow: hidden;
}
.img-3 {
    flex-shrink: 0;
    position: relative;
    width: 12.8px;
    height: 12.8px;
    background: url(./assets/images/15e6dc3d-4523-4456-904e-92a50f4eda71.png)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 35;
}
.text-9 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 36;
}
.group-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 10px;
    position: relative;
    z-index: 37;
}
.group-7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    z-index: 38;
}
.section-b {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    height: 48px;
    padding: 0 20px 0 20px;
    background: #efefef;
    z-index: 39;
    overflow: hidden;
}
.text-a {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #000000;
    font-family: Nunito, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 40;
}
.text-b {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 16px;
    color: #a30000;
    font-family: Nunito, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 41;
}
.box-5 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    min-width: 0;
    padding: 50px 20px 20px 20px;
    background: #ffffff;
    border: 2px solid #194429;
    z-index: 42;
    overflow: hidden;
    border-radius: 5px;
}
.wrapper-2 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: absolute;
    width: 538px;
    height: 30px;
    top: -2px;
    left: -2px;
    padding: 0 10px 0 10px;
    background: #122d1c;
    z-index: 43;
    overflow: hidden;
}
.img-4 {
    flex-shrink: 0;
    position: relative;
    width: 16px;
    height: 9.6px;
    background: url(./assets/images/e7f4a057-260e-4cd7-973b-ac5450578171.png)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 44;
}
.text-c {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 21.824px;
    text-align: left;
    white-space: nowrap;
    z-index: 45;
}
.group-8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 10px;
    position: relative;
    z-index: 46;
}
.group-9 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    z-index: 47;
}
.section-c {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    height: 48px;
    padding: 0 20px 0 20px;
    background: #efefef;
    z-index: 48;
    overflow: hidden;
}
.text-d {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #000000;
    font-family: Nunito, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 49;
}
.text-e {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 16px;
    color: #a30000;
    font-family: Nunito, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 50;
}
.wrapper-3 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    min-width: 0;
    height: 143px;
    padding: 50px 20px 20px 20px;
    background: #ffffff;
    border: 2px solid #194429;
    z-index: 51;
    overflow: hidden;
    border-radius: 5px;
}
.section-d {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: absolute;
    width: 538px;
    height: 30px;
    top: -2px;
    left: -2px;
    padding: 0 10px 0 10px;
    background: #122d1c;
    z-index: 52;
    overflow: hidden;
}
.img-5 {
    flex-shrink: 0;
    position: relative;
    width: 16px;
    height: 9.6px;
    background: url(./assets/images/7906278c-f30d-4b8a-9228-12de597d58ac.png)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 53;
}
.text-f {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 54;
}
.box-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 10px;
    position: relative;
    z-index: 55;
}
.box-7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    z-index: 56;
}
.wrapper-4 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    height: 48px;
    padding: 0 20px 0 20px;
    background: #efefef;
    z-index: 57;
    overflow: hidden;
}
.text-10 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #000000;
    font-family: Nunito, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 58;
}
.text-11 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 16px;
    color: #a30000;
    font-family: Nunito, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 59;
}
.section-e {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 538px;
    padding: 50px 20px 20px 20px;
    background: #ffffff;
    border: 2px solid #194429;
    z-index: 60;
    overflow: hidden;
    border-radius: 5px;
}
.section-f {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: absolute;
    width: 538px;
    height: 30px;
    top: -2px;
    left: -2px;
    padding: 0 10px 0 10px;
    background: #122d1c;
    z-index: 73;
    overflow: hidden;
}
.img-6 {
    flex-shrink: 0;
    position: relative;
    width: 12.8px;
    height: 11.2px;
    background: url(./assets/images/e82347f6-1d2d-4025-a363-74cdee50b7eb.png)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 74;
}
.text-12 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 17px;
    color: #ffffff;
    font-family: Instrument Sans, var(--default-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-align: left;
    white-space: nowrap;
    z-index: 75;
}
.section-10 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 20px;
    position: relative;
    min-width: 0;
    z-index: 61;
}
.section-11 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    z-index: 62;
    overflow: hidden;
}
.wrapper-5 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    z-index: 63;
    border-radius: 5px;
}
.pic-3 {
    flex-shrink: 0;
    position: relative;
    width: 20px;
    height: 20px;
    background: url(./assets/images/09ba51c9-161e-4862-8228-26fbaa27523b.png)
        no-repeat center;
    background-size: cover;
    z-index: 64;
}
.text-13 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 17px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: left;
    white-space: nowrap;
    z-index: 65;
}
.section-12 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    z-index: 66;
    border-radius: 5px;
}
.pic-4 {
    flex-shrink: 0;
    position: relative;
    width: 20px;
    height: 20px;
    background: url(./assets/images/af9b8d79-6b8a-4a38-a571-163ae4bba6be.png)
        no-repeat center;
    background-size: cover;
    z-index: 67;
}
.text-14 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 17px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: left;
    white-space: nowrap;
    z-index: 68;
}
.section-13 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    z-index: 69;
    border-radius: 5px;
}
.img-7 {
    flex-shrink: 0;
    position: relative;
    width: 20px;
    height: 20px;
    background: url(./assets/images/6c28073c-c7b3-4069-bd11-412dc61dc7e0.png)
        no-repeat center;
    background-size: cover;
    z-index: 70;
}
.text-15 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 17px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: left;
    white-space: nowrap;
    z-index: 71;
}
.text-16 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 15px;
    color: #a30000;
    font-family: Inter, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.523px;
    text-align: left;
    white-space: nowrap;
    z-index: 72;
}
.box-8 {
    flex-shrink: 0;
    position: relative;
    width: 538px;
    height: 40px;
    z-index: 76;
    overflow: hidden;
}
.group-a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    width: 120px;
    margin: 8px 0 0 209px;
    padding: 4px 12px 4px 12px;
    background: #122d1c;
    border: 1px solid #194429;
    z-index: 77;
    border-radius: 50px;
}
.text-17 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 76px;
    height: 16px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 12px;
    font-weight: 800;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 78;
}
.wrapper-6 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #163a24;
    z-index: 1;
}
.box-9 {
    position: absolute;
    width: 1019px;
    height: 829px;
    top: 50%;
    left: 50%;
    background: #ffffff;
    transform: translate(-37.19%, -50.18%);
    z-index: 2;
    overflow: hidden auto;
}
.section-14 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    position: relative;
    width: 420px;
    margin: 15px 0 0 577px;
    padding: 0 50px 0 50px;
    z-index: 79;
    overflow: hidden;
}
.box-a {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    min-width: 0;
    height: 249px;
    background: #ffffff;
    border: 2px solid #194429;
    z-index: 80;
    border-radius: 8px;
}
.section-15 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 30px;
    position: relative;
    width: 224px;
    margin: 15px 0 0 15px;
    padding: 1px 15px 1px 15px;
    border: 2px solid #122d1c;
    z-index: 81;
    border-radius: 8px;
}
.text-18 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 106px;
    height: 28px;
    color: #000000;
    font-family: Nunito, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
    z-index: 82;
}
.text-19 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 53px;
    height: 28px;
    color: #000000;
    font-family: Nunito, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
    z-index: 83;
}
.text-1a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 74px;
    height: 45px;
    margin: 7px 0 0 123px;
    color: #000000;
    font-family: Nunito, var(--default-font-family);
    font-size: 32px;
    font-weight: 600;
    line-height: 44.8px;
    text-align: center;
    white-space: nowrap;
    z-index: 84;
}
.section-16 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 5px;
    position: relative;
    width: 300px;
    margin: 2px 0 0 10px;
    z-index: 85;
}
.text-1b {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 180px;
    height: 28px;
    color: #000000;
    font-family: Nunito, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
    z-index: 86;
}
.group-b {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    min-width: 0;
    z-index: 87;
}
.text-1c {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 236px;
    height: 28px;
    color: #000000;
    font-family: Nunito, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
    z-index: 88;
}
.text-1d {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 28px;
    color: #000000;
    font-family: Nunito, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
    z-index: 89;
}
.section-17 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    min-width: 0;
    padding: 5px 0 5px 0;
    background: #122d1c;
    border: 2px solid #194429;
    z-index: 90;
    border-radius: 8px;
}
.text-1e {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 68px;
    height: 28px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
    z-index: 91;
}
.text-1f {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 89px;
    height: 28px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
    z-index: 92;
}
.group-c {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 15px;
    position: relative;
    width: 297px;
    z-index: 93;
}
.wrapper-7 {
    flex-shrink: 0;
    position: relative;
    width: 141px;
    height: 40px;
    z-index: 94;
    overflow: hidden;
}
.wrapper-8 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    width: 120px;
    margin: 8px 0 0 11px;
    padding: 4px 12px 4px 12px;
    background: #227b3d;
    border: 1px solid #194429;
    z-index: 95;
    border-radius: 50px;
}
.text-20 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 69px;
    height: 16px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 12px;
    font-weight: 800;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 96;
}
.wrapper-9 {
    flex-shrink: 0;
    position: relative;
    width: 141px;
    height: 40px;
    z-index: 97;
    overflow: hidden;
}
.group-d {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    width: 120px;
    margin: 8px 0 0 11px;
    padding: 4px 12px 4px 12px;
    background: #c63d32;
    border: 1px solid #54030c;
    z-index: 98;
    border-radius: 50px;
}
.text-21 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 60px;
    height: 16px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 12px;
    font-weight: 800;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 99;
}
.section-18 {
    position: absolute;
    width: 261px;
    height: 832px;
    top: 0;
    left: 0;
    font-size: 0px;
    background: #163a24;
    z-index: 101;
    border-radius: 0 20px 20px 0;
}
.text-22 {
    display: block;
    position: relative;
    height: 47px;
    margin: 38px 0 0 15px;
    color: #f9c74f;
    font-family: Italiana, var(--default-font-family);
    font-size: 40px;
    font-weight: 400;
    line-height: 47px;
    text-align: left;
    white-space: nowrap;
    z-index: 133;
    text-shadow: 0 18px 4px rgba(0, 0, 0, 0.25);
}
.box-b {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    position: relative;
    width: 231px;
    margin: 20px 0 0 15px;
    z-index: 106;
}
.wrapper-a {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    min-width: 0;
    height: 40px;
    z-index: 107;
}
.box-c {
    position: absolute;
    width: 231px;
    height: 40px;
    top: 0;
    left: 0;
    z-index: 108;
    border-radius: 7px;
}
.box-d {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 6px;
    transform: translate(0, -50%);
    z-index: 110;
    overflow: hidden;
}
.img-8 {
    position: relative;
    width: 15.84px;
    height: 19.87px;
    margin: 2px 0 0 4px;
    background: url(./img/Frame\ 10.svg)
        no-repeat center;
    background-size: cover;
    z-index: 111;
}
.text-23 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 21px;
    top: 11px;
    left: 37px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 109;
}
.section-19 {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    min-width: 0;
    height: 40px;
    z-index: 112;
}
.wrapper-b {
    position: absolute;
    width: 231px;
    height: 40px;
    top: 0;
    left: 0;
    background: rgba(57, 181, 93, 0.5);
    z-index: 113;
    border-radius: 7px;
    box-shadow: 0 4px 5.9px 0 rgba(0, 0, 0, 0.25);
}
.group-e {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 6px;
    transform: translate(0, -50%);
    z-index: 115;
    overflow: hidden;
}
.pic-5 {
    position: relative;
    width: 21.5px;
    height: 21.5px;
    margin: 1px 0 0 1px;
    background: url(./img/creategame.svg)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 116;
}
.text-24 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 21px;
    top: 11px;
    left: 37px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 114;
}
.section-1a {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    min-width: 0;
    height: 40px;
    z-index: 117;
}
.box-e {
    position: absolute;
    width: 231px;
    height: 40px;
    top: 0;
    left: 0;
    z-index: 118;
    border-radius: 7px;
}
.group-f {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 6px;
    transform: translate(0, -50%);
    z-index: 120;
    overflow: hidden;
}
.section-1b {
    position: relative;
    width: 21.772px;
    height: 16.791px;
    margin: 4px 0 0 1px;
    z-index: 121;
    overflow: visible auto;
}
.pic-6 {
    position: relative;
    width: 21.772px;
    height: 16.791px;
    margin: 0 0 0 0;
    background: url(./img/frame2.svg)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 122;
}
.text-25 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 21px;
    top: 11px;
    left: 37px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 119;
}
.group-10 {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    min-width: 0;
    height: 40px;
    z-index: 123;
}
.wrapper-c {
    position: absolute;
    width: 231px;
    height: 40px;
    top: 0;
    left: 0;
    z-index: 124;
    border-radius: 7px;
}
.wrapper-d {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 6px;
    transform: translate(0, -50%);
    z-index: 126;
    overflow: hidden;
}
.img-9 {
    position: relative;
    width: 19.5px;
    height: 21.5px;
    margin: 1px 0 0 2px;
    background: url(./img/framemero.svg)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 127;
}
.text-26 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 21px;
    top: 11px;
    left: 37px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 125;
}
.group-11 {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    min-width: 0;
    height: 40px;
    z-index: 128;
}
.box-f {
    position: absolute;
    width: 231px;
    height: 40px;
    top: 0;
    left: 0;
    z-index: 129;
    border-radius: 7px;
}
.box-10 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 6px;
    transform: translate(0, -50%);
    z-index: 131;
    overflow: hidden;
}
.img-a {
    position: relative;
    width: 17.053px;
    height: 19.865px;
    margin: 2px 0 0 3px;
    background: url(./img/frameotchet.svg)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 132;
}
.text-27 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 21px;
    top: 11px;
    left: 37px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 130;
}
.img-b {
    position: relative;
    width: 222px;
    height: 1px;
    margin: 342px 0 0 20px;
    background: url(./assets/images/0cdb7a79-9bd6-41ba-a97d-a34da9278e3b.png)
        no-repeat center;
    background-size: cover;
    z-index: 103;
}
.wrapper-e {
    position: absolute;
    width: 178px;
    height: 41px;
    top: 731px;
    left: 20px;
    font-family: Nunito, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    z-index: 104;
}
.text-28 {
    position: relative;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 15px;
    font-weight: 800;
    line-height: 21px;
    text-align: left;
}
.text-29 {
    position: relative;
    color: #858585;
    font-family: Nunito, var(--default-font-family);
    font-size: 14px;
    font-weight: 800;
    line-height: 21px;
    text-align: left;
}
.pic-7 {
    position: absolute;
    width: 20.537px;
    height: 16.911px;
    top: 743px;
    left: 214px;
    background: url(./assets/images/d9fd30fc-2890-4641-8d7e-cfe0116e98cc.png)
        no-repeat center;
    background-size: cover;
    z-index: 105;
}
