:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container {
    position: relative;
    width: 1280px;
    height: 832px;
    margin: 0 auto;
}
.section {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #163a24;
}
.wrapper {
    position: absolute;
    width: 79.61%;
    height: 100%;
    top: 0;
    left: 20.39%;
    z-index: 1;
    overflow: hidden;
}
.box {
    position: absolute;
    width: 1019px;
    height: 832px;
    top: 50%;
    left: 50%;
    background: #ffffff;
    transform: translate(-50%, -50%);
    z-index: 2;
    overflow: hidden auto;
}
.group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 420px;
    height: 249px;
    top: 15px;
    left: 577px;
    padding: 0 50px 0 50px;
    z-index: 63;
    overflow: hidden;
}
.wrapper-2 {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    min-width: 0;
    height: 249px;
    background: #ffffff;
    border: 2px solid #194429;
    z-index: 64;
    border-radius: 8px;
}
.section-2 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 30px;
    position: relative;
    width: 224px;
    margin: 15px 0 0 15px;
    padding: 1px 15px 1px 15px;
    border: 2px solid #122d1c;
    z-index: 65;
    border-radius: 8px;
}
.text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 106px;
    height: 28px;
    color: #000000;
    font-family: Nunito, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
    z-index: 66;
}
.text-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 53px;
    height: 28px;
    color: #000000;
    font-family: Nunito, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
    z-index: 67;
}
.text-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 74px;
    height: 45px;
    margin: 7px 0 0 123px;
    color: #000000;
    font-family: Nunito, var(--default-font-family);
    font-size: 32px;
    font-weight: 600;
    line-height: 44.8px;
    text-align: center;
    white-space: nowrap;
    z-index: 68;
}
.group-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 5px;
    position: relative;
    width: 300px;
    margin: 2px 0 0 10px;
    z-index: 69;
}
.text-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 180px;
    height: 28px;
    color: #000000;
    font-family: Nunito, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
    z-index: 70;
}
.wrapper-3 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    min-width: 0;
    z-index: 71;
}
.text-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 236px;
    height: 28px;
    color: #000000;
    font-family: Nunito, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
    z-index: 72;
}
.text-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 28px;
    color: #000000;
    font-family: Nunito, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
    z-index: 73;
}
.wrapper-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    min-width: 0;
    padding: 5px 0 5px 0;
    background: #122d1c;
    border: 2px solid #194429;
    z-index: 74;
    border-radius: 8px;
}
.text-7 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 135px;
    height: 28px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
    z-index: 75;
}
.text-8 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 89px;
    height: 28px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
    z-index: 76;
}
.group-3 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 15px;
    position: relative;
    width: 297px;
    z-index: 77;
}
.group-4 {
    flex-shrink: 0;
    position: relative;
    width: 141px;
    height: 40px;
    z-index: 78;
    overflow: hidden;
}
.wrapper-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    width: 120px;
    margin: 8px 0 0 11px;
    padding: 4px 12px 4px 12px;
    background: #227b3d;
    border: 1px solid #194429;
    z-index: 79;
    border-radius: 50px;
}
.text-9 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 69px;
    height: 16px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 12px;
    font-weight: 800;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 80;
}
.box-2 {
    flex-shrink: 0;
    position: relative;
    width: 141px;
    height: 40px;
    z-index: 81;
    overflow: hidden;
}
.section-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    width: 120px;
    margin: 8px 0 0 11px;
    padding: 4px 12px 4px 12px;
    background: #c63d32;
    border: 1px solid #54030c;
    z-index: 82;
    border-radius: 50px;
}
.text-a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 60px;
    height: 16px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 12px;
    font-weight: 800;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 83;
}
.box-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 15px;
    position: absolute;
    width: 538px;
    height: 920px;
    top: 40px;
    left: 20px;
    z-index: 3;
    overflow: hidden auto;
}
.box-4 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    min-width: 0;
    height: 143px;
    padding: 50px 20px 20px 20px;
    background: #ffffff;
    border: 2px solid #194429;
    z-index: 4;
    overflow: hidden;
    border-radius: 5px;
}
.group-5 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: absolute;
    width: 538px;
    height: 30px;
    top: -2px;
    left: -2px;
    padding: 0 10px 0 10px;
    background: #122d1c;
    z-index: 5;
    overflow: hidden;
}
.img {
    flex-shrink: 0;
    position: relative;
    width: 16px;
    height: 9.6px;
    background: url(./assets/images/b578802e-822f-44b4-9de5-c3dc62ceefc1.png)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 6;
}
.text-b {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 7;
}
.wrapper-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 10px;
    position: relative;
    z-index: 8;
}
.section-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    z-index: 9;
}
.box-5 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    height: 48px;
    padding: 0 20px 0 20px;
    background: #efefef;
    z-index: 10;
    overflow: hidden;
}
.text-c {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #000000;
    font-family: Nunito, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 11;
}
.text-d {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 16px;
    color: #a30000;
    font-family: Nunito, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 12;
}
.section-5 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    min-width: 0;
    height: 98px;
    padding: 50px 20px 20px 20px;
    background: #ffffff;
    border: 2px solid #194429;
    z-index: 13;
    overflow: hidden;
    border-radius: 5px;
}
.box-6 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: absolute;
    width: 538px;
    height: 30px;
    top: -2px;
    left: -2px;
    padding: 0 10px 0 10px;
    background: #122d1c;
    z-index: 14;
    overflow: hidden;
}
.img-2 {
    flex-shrink: 0;
    position: relative;
    width: 12.8px;
    height: 8px;
    background: url(./assets/images/6c095562-96b5-4222-bb37-73aab89af61d.png)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 15;
}
.text-e {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 21.824px;
    text-align: left;
    white-space: nowrap;
    z-index: 16;
}
.group-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 10px;
    position: relative;
    z-index: 17;
}
.section-6 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    z-index: 18;
    overflow: hidden;
}
.box-7 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    height: 28px;
    z-index: 19;
}
.wrapper-7 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 175.5px;
    font-size: 0px;
    transform: translate(0, -47.97%);
    z-index: 21;
    overflow: hidden;
}
.text-f {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 9px;
    height: 19px;
    margin: 2.514px 0 0 7.5px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 14px;
    font-weight: 900;
    line-height: 19px;
    text-align: center;
    white-space: nowrap;
    z-index: 23;
}
.group-7 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    background: #227b3d;
    z-index: 22;
    border-radius: 8px;
}
.pic {
    position: absolute;
    width: 100%;
    height: 8px;
    top: 50%;
    left: 0;
    background: url(./assets/images/b35698e5-6e11-4ab8-b5f8-316260187118.png)
        no-repeat center;
    background-size: cover;
    transform: translate(0, -43.92%);
    z-index: 20;
}
.text-10 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #122d1c;
    font-family: Nunito, var(--default-font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 24;
}
.box-8 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    min-width: 0;
    height: 118px;
    padding: 50px 20px 20px 20px;
    background: #ffffff;
    border: 2px solid #194429;
    z-index: 25;
    overflow: hidden;
    border-radius: 5px;
}
.box-9 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: absolute;
    width: 538px;
    height: 30px;
    top: -2px;
    left: -2px;
    padding: 0 10px 0 10px;
    background: #122d1c;
    z-index: 26;
    overflow: hidden;
}
.pic-2 {
    flex-shrink: 0;
    position: relative;
    width: 16px;
    height: 9.6px;
    background: url(./assets/images/c9f6ad08-6208-42f8-a1fc-79da40f0f33a.png)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 27;
}
.text-11 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 28;
}
.wrapper-8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 10px;
    position: relative;
    z-index: 29;
}
.section-7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    z-index: 30;
}
.box-a {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    height: 48px;
    padding: 0 20px 0 20px;
    background: #efefef;
    z-index: 31;
    overflow: hidden;
}
.text-12 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #000000;
    font-family: Nunito, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 32;
}
.box-b {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    min-width: 0;
    padding: 50px 20px 20px 20px;
    background: #ffffff;
    border: 2px solid #194429;
    z-index: 33;
    overflow: hidden;
    border-radius: 5px;
}
.group-8 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: absolute;
    width: 538px;
    height: 30px;
    top: -2px;
    left: -2px;
    padding: 0 10px 0 10px;
    background: #122d1c;
    z-index: 34;
    overflow: hidden;
}
.img-3 {
    flex-shrink: 0;
    position: relative;
    width: 12.8px;
    height: 12.8px;
    background: url(./assets/images/9b7c5d68-52cf-4274-ab5d-0a6d1e285199.png)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 35;
}
.text-13 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 36;
}
.box-c {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 10px;
    position: relative;
    z-index: 37;
}
.section-8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    z-index: 38;
}
.section-9 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    height: 48px;
    padding: 0 20px 0 20px;
    background: #efefef;
    z-index: 39;
    overflow: hidden;
}
.text-14 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #000000;
    font-family: Nunito, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 40;
}
.text-15 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 16px;
    color: #a30000;
    font-family: Nunito, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 41;
}
.wrapper-9 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    min-width: 0;
    padding: 50px 20px 20px 20px;
    background: #ffffff;
    border: 2px solid #194429;
    z-index: 42;
    overflow: hidden;
    border-radius: 5px;
}
.box-d {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: absolute;
    width: 538px;
    height: 30px;
    top: -2px;
    left: -2px;
    padding: 0 10px 0 10px;
    background: #122d1c;
    z-index: 43;
    overflow: hidden;
}
.pic-3 {
    flex-shrink: 0;
    position: relative;
    width: 16px;
    height: 9.6px;
    background: url(./assets/images/2619f2f4-c738-49e1-92a5-2da1c4d5c28b.png)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 44;
}
.text-16 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 21.824px;
    text-align: left;
    white-space: nowrap;
    z-index: 45;
}
.group-9 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 10px;
    position: relative;
    z-index: 46;
}
.group-a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    z-index: 47;
}
.section-a {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    height: 48px;
    padding: 0 20px 0 20px;
    background: #efefef;
    z-index: 48;
    overflow: hidden;
}
.text-17 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #000000;
    font-family: Nunito, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 49;
}
.text-18 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 16px;
    color: #a30000;
    font-family: Nunito, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 50;
}
.box-e {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    min-width: 0;
    height: 143px;
    padding: 50px 20px 20px 20px;
    background: #ffffff;
    border: 2px solid #194429;
    z-index: 51;
    overflow: hidden;
    border-radius: 5px;
}
.box-f {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: absolute;
    width: 538px;
    height: 30px;
    top: -2px;
    left: -2px;
    padding: 0 10px 0 10px;
    background: #122d1c;
    z-index: 52;
    overflow: hidden;
}
.img-4 {
    flex-shrink: 0;
    position: relative;
    width: 16px;
    height: 9.6px;
    background: url(./assets/images/a8042434-f676-473f-abba-dedf25c978af.png)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 53;
}
.text-19 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 54;
}
.box-10 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 10px;
    position: relative;
    z-index: 55;
}
.section-b {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    z-index: 56;
}
.group-b {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    height: 48px;
    padding: 0 20px 0 20px;
    background: #efefef;
    z-index: 57;
    overflow: hidden;
}
.text-1a {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #000000;
    font-family: Nunito, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 58;
}
.text-1b {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 16px;
    color: #a30000;
    font-family: Nunito, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 59;
}
.box-11 {
    flex-shrink: 0;
    position: relative;
    width: 538px;
    height: 40px;
    z-index: 60;
    overflow: hidden;
}
.group-c {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    width: 120px;
    margin: 8px 0 0 209px;
    padding: 4px 12px 4px 12px;
    background: #122d1c;
    border: 1px solid #194429;
    z-index: 61;
    border-radius: 50px;
}
.text-1c {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 76px;
    height: 16px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 12px;
    font-weight: 800;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 62;
}
.box-12 {
    position: absolute;
    width: 20.39%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 0px;
    z-index: 84;
}
.text-1d {
    display: block;
    position: relative;
    height: 47px;
    margin: 38px 0 0 15px;
    color: #f9c74f;
    font-family: Italiana, var(--default-font-family);
    font-size: 40px;
    font-weight: 400;
    line-height: 47px;
    text-align: left;
    white-space: nowrap;
    z-index: 117;
    text-shadow: 0 18px 4px rgba(0, 0, 0, 0.25);
}
.wrapper-a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    position: relative;
    width: 231px;
    margin: 20px 0 0 15px;
    z-index: 90;
}
.wrapper-b {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    min-width: 0;
    height: 40px;
    z-index: 91;
}
.wrapper-c {
    position: absolute;
    width: 231px;
    height: 40px;
    top: 0;
    left: 0;
    z-index: 92;
    border-radius: 7px;
}
.group-d {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 6px;
    transform: translate(0, -50%);
    z-index: 94;
    overflow: hidden;
}
.img-5 {
    position: relative;
    width: 15.84px;
    height: 19.87px;
    margin: 2px 0 0 4px;
    background: url(./img/Frame\ 10.svg)
        no-repeat center;
    background-size: cover;
    z-index: 95;
}
.text-1e {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 21px;
    top: 11px;
    left: 37px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 93;
}
.group-e {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    min-width: 0;
    height: 40px;
    z-index: 96;
}
.wrapper-d {
    position: absolute;
    width: 231px;
    height: 40px;
    top: 0;
    left: 0;
    z-index: 97;
    border-radius: 7px;
}
.section-c {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 6px;
    transform: translate(0, -50%);
    z-index: 99;
    overflow: hidden;
}
.img-6 {
    position: relative;
    width: 21.5px;
    height: 21.5px;
    margin: 1px 0 0 1px;
    background: url(./img/creategame.svg)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 100;
}
.text-1f {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 21px;
    top: 11px;
    left: 37px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 98;
}
.section-d {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    min-width: 0;
    height: 40px;
    z-index: 101;
}
.group-f {
    position: absolute;
    width: 231px;
    height: 40px;
    top: 0;
    left: 0;
    z-index: 102;
    border-radius: 7px;
}
.box-13 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 6px;
    transform: translate(0, -50%);
    z-index: 104;
    overflow: hidden;
}
.section-e {
    position: relative;
    width: 21.772px;
    height: 16.791px;
    margin: 4px 0 0 1px;
    z-index: 105;
    overflow: visible auto;
}
.pic-4 {
    position: relative;
    width: 21.772px;
    height: 16.791px;
    margin: 0 0 0 0;
    background: url(./img/frame2.svg)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 106;
}
.text-20 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 21px;
    top: 11px;
    left: 37px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 103;
}
.section-f {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    min-width: 0;
    height: 40px;
    z-index: 107;
}
.group-10 {
    position: absolute;
    width: 231px;
    height: 40px;
    top: 0;
    left: 0;
    background: #277740;
    z-index: 108;
    border-radius: 7px;
    box-shadow: 0 4px 5.9px 0 rgba(0, 0, 0, 0.25);
}
.section-10 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 6px;
    transform: translate(0, -50%);
    z-index: 110;
    overflow: hidden;
}
.img-7 {
    position: relative;
    width: 19.5px;
    height: 21.5px;
    margin: 1px 0 0 2px;
    background: url(./img/framemero.svg)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 111;
}
.text-21 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 21px;
    top: 11px;
    left: 37px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 109;
}
.wrapper-e {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    min-width: 0;
    height: 40px;
    z-index: 112;
}
.wrapper-f {
    position: absolute;
    width: 231px;
    height: 40px;
    top: 0;
    left: 0;
    z-index: 113;
    border-radius: 7px;
}
.wrapper-10 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 6px;
    transform: translate(0, -50%);
    z-index: 115;
    overflow: hidden;
}
.img-8 {
    position: relative;
    width: 17.053px;
    height: 19.865px;
    margin: 2px 0 0 3px;
    background: url(./img/frameotchet.svg)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 116;
}
.text-22 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 21px;
    top: 11px;
    left: 37px;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 114;
}
.section-11 {
    position: absolute;
    width: 261px;
    height: 832px;
    top: 0;
    left: 0;
    background: #163a24;
    z-index: 85;
    border-radius: 0 20px 20px 0;
}
.group-11 {
    position: absolute;
    width: 261px;
    height: 832px;
    top: 0;
    left: 0;
    z-index: 86;
}
.img-9 {
    position: relative;
    width: 222px;
    height: 1px;
    margin: 687px 0 0 20px;
    background: url(./assets/images/d67d7e8d-0256-4793-bd95-07a91cbd647e.png)
        no-repeat center;
    background-size: cover;
    z-index: 87;
}
.section-12 {
    position: absolute;
    width: 178px;
    height: 41px;
    top: 731px;
    left: 20px;
    font-family: Nunito, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    z-index: 88;
}
.text-23 {
    position: relative;
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 15px;
    font-weight: 800;
    line-height: 21px;
    text-align: left;
}
.text-24 {
    position: relative;
    color: #858585;
    font-family: Nunito, var(--default-font-family);
    font-size: 14px;
    font-weight: 800;
    line-height: 21px;
    text-align: left;
}
.pic-5 {
    position: absolute;
    width: 20.537px;
    height: 16.911px;
    top: 743px;
    left: 214px;
    background: url(./assets/images/fea819e6-7793-4a3a-98fa-687d7e2a2333.png)
        no-repeat center;
    background-size: cover;
    z-index: 89;
}
